.editor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(92, 0, 23);
  border-radius: 10px;
  width: 400px;
  margin: 50px auto;
  padding: 30px;
}

.opcionesNum {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
  gap: 10px;
}
.numberInput {
  font-family: "Play", sans-serif;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 40px;
  margin: 5px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid rgb(92, 0, 23);
  background-color: rgb(9, 11, 22);
  color: white;
}

.opcionesInput .span {
  gap: 10px;
}

.colorPicker {
  margin: 18px;
}
