.pixel {
  width: 1.5rem;
  height: 1.5rem;
}

.pixel:hover {
  cursor: pointer;
}

.row {
  display: flex;
  width: fit-content;
}

@media (max-width: 570px) {
  .pixel {
    width: 1rem;
    height: 1rem;
  }
}

@media (max-width: 340px) {
  .pixel {
    width: 0.8rem;
    height: 0.8rem;
  }
}
