@font-face {
  font-family: "pixels";
  src: url("./public/Pixelate-Regular.ttf");
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(135deg, #3a0c18, #000000, #050938);
  min-height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "pixels", sans-serif;
  text-align: center;
  min-width: fit-content;
}

h1 {
  filter: drop-shadow(8px 8px 8px rgba(73, 67, 67, 0.993));
  margin: 0;
  font-size: 3rem;
}
.button {
  background-color: rgb(92, 0, 23);
  font-family: pixels, sans-serif;
  border-radius: 10px;
  color: white;
  font-size: 1.3rem;
  border: 3px solid rgb(92, 0, 23);
}

.button:hover {
  cursor: pointer;
  background-color: #ffffff00;
  filter: drop-shadow(4px 3px 14px rgba(243, 243, 243, 0.993));
  transition: all 0.5s ease-in-out;
  transform: translateY(-13%);
}
